@import './fonts';
@import './customize';
@import './functions';
@import 'bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  background: linear-gradient(248.66deg, #7673dc 0%, #a8c8ed 100%);
  font-weight: normal;
}

.today-temp {
  display: inline-block;
  font-size: toRem(164);
  filter: drop-shadow(-4.51px 2.26px 0.75px rgba(0, 0, 0, 0.15));
  position: relative;
  color: $white;

  .temp {
    position: absolute;
    top: 10%;
    left: 100%;
    font-size: toRem(32);
    font-weight: bold;
  }
}

.text-shadow {
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
}

.btn-search {
  background: linear-gradient(
    116.79deg,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(255, 255, 255, 0.12) 99.45%
  );
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 75%;

  .dropdown-link {
    text-decoration: none;
    &:hover {
      background-color: #e2e7ec;
    }
  }
}
