@import './fonts';
@import './customize';
@import './functions';
@import 'bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  background: linear-gradient(248.66deg, #7673dc 0%, #a8c8ed 100%);
  font-weight: normal;
}

.today-temp {
  display: inline-block;
  font-size: toRem(164);
  filter: drop-shadow(-4.51px 2.26px 0.75px rgba(0, 0, 0, 0.15));
  position: relative;
  color: $white;

  .temp {
    position: absolute;
    top: 10%;
    left: 100%;
    font-size: toRem(32);
    font-weight: bold;
  }
}

.text-shadow {
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
}

.weather-shadow {
  position: absolute;
  left: 12.86%;
  right: 41.49%;
  top: 58.19%;
  bottom: 22.88%;

  background: linear-gradient(
    89.73deg,
    rgba(37, 70, 89, 0.3) 4.84%,
    rgba(2, 53, 83, 0.3) 109.55%
  );
  opacity: 0.67;
  filter: blur(12.8083px);
  transform: matrix(0.74, -0.67, 0.8, 0.6, 0, 0);
}

.btn-search {
  background: linear-gradient(
    116.79deg,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(255, 255, 255, 0.12) 99.45%
  );
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */
}

.dropdown-content {
  flex-direction: column;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 75%;

  .dropdown-link {
    text-decoration: none;
    &:hover {
      background-color: #e2e7ec;
    }
  }
}

.bg-glass {
  background: hsla(0, 0%, 100%, 0.486) !important;
  filter: blur(0.569258px);
}
